
.booktooltip{
  display:none;
}

img.booktooltip {
	float:left;
}

.bibref-after-block{
	
font-size: 13px;
font-family:verdana;
font-style:italic;
text-align:right;
padding-bottom:25px;
margin-left:50px;

}

.quote-block{
	
	margin-left:50px;
	padding-top:25px;
	
   
}