#header,#header *,#sub_nav,.tooltip,#footer,.mainbottom,.breadcrumb{
    display: none;
}
#wrapper{
    display: block;
}

body{
    height: 100%;
}
#content{
    width: 21cm; 
    position: absolute;
    top:0;  
}