#header,#header *,#sub_nav,.tooltip,#footer{
    display: none;
}
.main-area img:first-child{/* to select red vertical bar who the first img child of div with class maibn-area*/
    display: none;
}

/********** need to have absolute position otherwise there is a big blank on first page*********/
.tools h1{
    position: absolute;
    top: 0;
    left: 0; 
}
.tools .breadcrumb{
    position: absolute;
    top: 0;
    right: 0; 
}
.article_content{/*positioned a 5em from top to don't override title and 2em from left to do not be on the same vertical line*/
    position: absolute;
    top: 5em;
    left: 2em; 
}
