.header-template{
	height: 50px;
	border-bottom: 2px solid rgb(67, 84, 126); 
	border-top: 2px solid rgb(67, 84, 126); 
}
.container-template{
	position:relative;
}
/*cf style.css use of inline-blokc instead of floating*/
#sub_nav, #content{
    float: left;
}
#sub_nav{
    margin-right: 0px;
}
#content >div{
	margin-left:2px;
	padding-left:8px;
}

.menu-template{
	overflow-x: hidden;  
	float:left;
 	top:0;
 	left:0;
 	width:200px;
 	border-right: 2px solid rgb(67, 84, 126); 
}
.body-template{
	width:800px;
}
.footer-template{
	 clear:both;
}