/************** General ******************************************/
/****images***/
.beta-sign{
	width:70%;
	height:70%;
	padding-top:63px; 
}

.center-align { /* use this class instead of <center>*/
    text-align: center;
}

/*********** bordel à classer********/

.title{
	font-size: 26px;
    color:rgb(67, 84, 126);
    font-weight: bold;
}
.subtitle{
    color:rgb(67, 84, 126);
    font-weight: bold;
    text-decoration: underline;
	
}
.logo{
	font-size: 40px;
	float:left;
}


/*Separating line*/
.line{
	color:rgb(67, 84, 126);
}
.v-2{
	 background-color: #ff0000;
}
.v-1{
	 background-color: #ff8800;
}
.v0{
	 background-color: #ffff00;
}

.v1{
	 background-color: #88ff00;
}

.v2{
	 background-color: #00ff00;
}
.vote{
	display: inline-block; width: 20px; height: 20px; text-align: center;
}
.selected{
	border: .2em solid #000;
}
.login-link{
	/* padding-right:65px;*/
 	text-align: right; 
/* 	float:right; */
/* 	position:relative; */
/* 	width:200px;	 */
}
.login-link a{
	color:#7D92B9 ;
	text-decoration: none;
}
.login-link a:hover{
	color:#ffffff ;
	text-decoration: none;
}
.error{
    color:rgb(255, 60, 60);
    font-weight: bold;
    text-decoration: underline;
}

/************** Article ******************************************/

/***Display***/
.icon-32{  /* Because i'm to lazy to go in GIMP and change every icons we have to 32px... */
width:32px;
height: 32px;

}
.untranslated,.translated{
	/*if not inline-block the jquery slideshow will not be visible*/
	display:inline-block;	
}
.untranslatedcontent,.translatedcontent{
	 width:715px; display:block;
}
.untranslatedcontent{
	float:left;
}
.translatedcontent{
	float:right;
}
.untranslatedcontent p,.translatedcontent p{
	margin-top: 0px !important;
}
.untranslatedoption,.translatedoption{
	width: 25px; display:block;
	vertical-align: middle;
}
.untranslatedoption{
	float:right; 
	padding-left: 20px;
}
.translatedoption{
	float:left;
	padding-right: 10px;
}

.untranslatedButton,.translatedButton {
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	font-size:9px;
	font-weight:bold;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}.translatedButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.translatedButton:active {
	position:relative;
	top:1px;
}
.article_content {
	font-family: Georgia, "DejaVu Serif", Norasi, serif;
	color:#444;
    display:inline-block; /*DO NOT REMOVE OR THE MENU IS IN THE CONTENT!!!!!*/
}

.article_content p{
    line-height: 1.4em;
    margin-top: .5em;
    margin-bottom: .5em;
}

.article-options{
	float:right;
}
.article-title{
	float:left;
}
.bibref-after-block {
	color: #AAA;
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 0.6em;
	text-align: right;
	margin-left: 50px;
	
}

.quote-block{
	color:#777;
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
	margin: 0;
	margin-left: 40px;
}

.quote-block p {   /* Only the <p>'s inside quote-blocks (and not the normal text outside quote-block but inside article_content.
                      Overrides the .article_content selector */
/*	margin: 0.5em;*/ /* to override defaut p style */
	font-size: 1.05em;
}



/* div defining the content of a book displayed on the bibliography page and in the tooltip */
.book { 
	text-align: left;
	font-size:0.8em;
}
.book .bookInfo{
	font-size:0.8em;
	font-style: italic;
	text-align: right;
	margin-top:2px;
}
.book .bookContent{
	text-align: justify;
	margin-top:2px;	
	font-size:1.2em;
}
.book div >a{font-size:1.2em;}
.imgbook {
	float:left;
	padding-right: 15px;
}

.authorbook {   /* Inside tooltip  */
	font-size: 70%;
}
.uploadBtn{
	border: none;
    background: url('/images/_global/folder_icon.png') no-repeat top left;
    width:32px;
    height:32px;
}
.saveBtn{
	border: none;
    background: url('/images/_global/save.png') no-repeat top left;
    width:28px;
    height:28px;
}




/********Edit********/
/***helpbox***/
#helphandle{
    display:none; /* don't diplay "?" when javascript disable*/ 
}
#helphandle , #helphandle > div {/*#helphandle, #helptext define the position of the help button and its text*/ 
	position: fixed;
	z-index: 100;
}
#helphandle > div {/*defines the help text*/
	padding:20px 20px 20px 20px; /* configure a padding top, right, bottom,left */
	color: white;
	width: 690px;       
    height: 400px;
	background: #1C2F4F;
	border: solid 3px white;
	opacity:0.95;
	overflow:auto;
}
#helphandle > span{/*define the question mark of the help text*/
    font-weight: bold;
	color:#182947;
	cursor: pointer;
}