.title{
	font-size: 26px;
    color:rgb(67, 84, 126);
    font-weight: bold;
}
.subtitle{
    color:rgb(67, 84, 126);
    font-weight: bold;
    text-decoration: underline;
	
}
.logo{
	font-size: 40px;
	float:left;
}
/*Separating line*/
.line{
	color:rgb(67, 84, 126);
}

.login-link{
	text-align: right;
	
}
.error{
    color:rgb(255, 60, 60);
    font-weight: bold;
    text-decoration: underline;
	
}