.title{
	font-size: 26px;
    color:rgb(67, 84, 126);
    font-weight: bold;
}
.subtitle{
    color:rgb(67, 84, 126);
    font-weight: bold;
    text-decoration: underline;
	
}
.logo{
	font-size: 40px;
	float:left;
}
/*Separating line*/
.line{
	color:rgb(67, 84, 126);
}
.v-2{
	 background-color: #ff0000;
}
.v-1{
	 background-color: #ff8800;
}
.v0{
	 background-color: #ffff00;
}

.v1{
	 background-color: #88ff00;
}

.v2{
	 background-color: #00ff00;
}
.vote{
	display: inline-block; width: 20px; height: 20px; text-align: center;
}
.selected{
	border: .2em solid #000;
}
.login-link{
	background-color: #1f3252;
 	text-align: right; 
 	padding-right: 200px;
/* 	float:right; */
/* 	position:relative; */
/* 	width:200px;	 */
}
.login-link a{
	color:#7D92B9 ;
	text-decoration: none;
}
.login-link a:hover{
	color:#ffffff ;
	text-decoration: none;
}
.error{
    color:rgb(255, 60, 60);
    font-weight: bold;
    text-decoration: underline;
	
}
.subarticle{
display: block;
padding: 4px 0 8px 20px;
height: 1%;
position: relative;
margin: 0 13px 0 0;
}

/*Style for article display (articledisplay.jsp)*/

/* div defining the content of a book displayed on the bibliography page and in the tooltip */
.book { 
	text-align: left;
}

.imgbook {
	float:left;
}

.bibref-after-block {
	font-size: 13px;
	font-family: verdana;
	font-style: italic;
	text-align: right;
	padding-bottom: 25px;
	margin-left: 50px;
}

.quote-block{
	
	margin-left:50px;
	padding-top:25px;
	
   
}

.quote-inline{
	font-style:italic;
}

/*article edit page*/

#content{
	
}